---
layout: default
title: Ha Lab - Software
categories: 
 - projects
---

<div class="title">
	Ha Lab Software and Pipelines
</div>
<div class="smallhead">
	See the <a href="https://github.com/GavinHaLab" target="_blank">GavinHaLab</a> GitHub page for the full list of project/code repositories.
</div>
<div class="hugespacer"></div>


<div class="row">
	<div class="col-md-12">
		<div class="title">
			Software
		</div>
	</div>
</div>
<div class="bigspacer"></div>

{% assign sorted_projects = site.categories.projects | sort_natural: 'title' %}
{% for project in sorted_projects %}
	{% if project.category == 'software' %}
	    {% cycle 'add rows': '<div class="row">', '' %}
			<div class="col-md-6 projectbox">
				<div class="media">
					<a class="pull-left" href="{{ project.github }}">
						<img width=100 height=100 class="media-object" src="{{ project.image }}"></a>
					<div class="head">
						<a href="{{ project.github }}" class="off" target="_blank">{{ project.title }}</a>
					</div>	
					<div class="smallspacer"></div>
				
					<div class="smallhead">
						<a href="{{ project.github }}" class="off" target="_blank">{{ project.description }}</a>
					</div>
					<div class="smallspacer"></div>
				
				<div class="note">
					<a href="{{ project.pubLink }}" class="off"> {{ project.publication }}</a>
				</div>
				<div class="bigspacer"></div>
				<div class="spacer"></div>	
					</div>	
			</div>
    	{% cycle 'close rows': '', '</div>' %}
    {% endif %}
{% endfor %}
<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="title">
			Pipelines
		</div>
	</div>
</div>
<div class="bigspacer"></div>

{% assign sorted_projects = site.categories.projects | sort_natural: 'title' %}
{% for project in sorted_projects %}
	{% if project.category == 'pipeline' %}
	    {% cycle 'add rows': '<div class="row">', '', '' %}
			<div class="col-md-6 paperbox">
				<div class="media">
					<!-- <a class="pull-left" href="{{ project.github }}">
						<img width=100 height=100 class="media-object" src="{{ project.image }}"></a> -->
					<div class="head">
						<a href="{{ project.github }}" class="off" target="_blank">{{ project.title }}</a>
					</div>	
					<div class="smallspacer"></div>
					<div class="note">
						<a href="{{ project.github }}" class="off" target="_blank">{{ project.description }}</a>
					</div>
					<div class="smallspacer"></div>
					<div class="note">
						<a href="{{ project.pubLink }}" class="off"> {{ project.publication }}</a>
					</div>
					<div class="bigspacer"></div>
					<div class="spacer"></div>
				</div>
			</div>
    	{% cycle 'close rows': '', '', '</div>' %}
    {% endif %}
{% endfor %}

