---
layout: default
title: Ha Lab - Lab Fun
categories:
 - gallery
category: gallery
---

<div class="title">
	Ha Lab Events and Random Fun
</div>
<div class="hugespacer"></div>


{% assign post_list = site.categories.gallery | reverse %}
{% for post in post_list %}

    {% cycle 'add rows': '<div class="row">', '', '' %}
		<div class="col-md-6 postbox">
            <a href="{{ post.url }}">
                <img class="center" width=260 class="media-object" src="{{ post.thumbnailimage }}">
              </a>
			{% if post.title %}
			<div class="head media-heading">
				<a href="{{ post.url }}" class="off">{{ post.title }}</a>
			</div>
			{% endif %}
			<div class="smallhead media-heading">
				{% if post.desc %}
				<a href="{{ post.url }}" class="off">{{ post.desc }}</a>
				{% endif %}
			{% if post.month %}
			<div class="smallhead">		    	
		    	{{ post.month }} {{ post.day }}, {{ post.year }}
				@ {{ post.location }}
		    </div>
			{% endif %}
			</div>
			<div class="hugespacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
{% endfor %}
{% cycle 'close rows': '', '</div>', '</div>' %}
