---
layout: default
title: Ha Lab - People
categories:
 - people
---

<div class="row">
	<div class="col-md-12">
		<div class="title">
			Lab members
		</div>
	</div>
</div>

<div class="bigspacer"></div>

{% for people in site.categories.people %}
		{% if people.position == 'Principal Investigator' %}
    {% cycle 'add rows': '<div class="row">' %}
    <div class="col-sm-4 peoplebox">
			<div class="media">
  				<a class="pull-left" href="{{ people.url }}">
    				<img width=160 class="media-object" src="{{ people.image }}">
  				</a>
        <br>
 			 	<div class="media-body">
    				<div class="bighead media-heading-people"><a href="{{ people.url }}" class="off">{{ people.title }}</a></div>
    				<p class="smallhead">{{ people.position }}</p>
  			</div>
			</div>
			<div class="bigspacer"></div>
			<div class="bigspacer"></div>
    </div>
    {% cycle 'close rows': '</div>' %}
    {% endif %}
{% endfor %}

<div class="row">
  <div class="col-md-12">
    <div class="title">
      Scientific Staff
    </div>
  </div>
</div>

<div class="bigspacer"></div>

{% assign people_by_lastname = site.categories.people | sort: 'title' | reverse %}
{% for people in people_by_lastname %}
    {% if people.alumni != true and people.category == 'Staff' %}
    {% cycle 'add rows': '<div class="row">', '', '' %}
    <div class="col-sm-4 peoplebox">
      <div class="media" style="text-align: left;">
          <a class="pull-left" href="{{ people.url }}">
            <img width=160 class="media-object" src="{{ people.image }}">
          </a>
        <br>
        <div class="media-body">
            <div class="bighead media-heading-people"><a href="{{ people.url }}" class="off">{{ people.title }}</a></div>
            <p class="smallhead">{{ people.position }}</p>
            <p class="note">{{ people.position2 }}</p>
            {% if people.joined %}
              <p class="note">Joined {{ people.joined }}</p>
            {% endif %}
          </div>
      </div>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
    {% endif %}
{% endfor %}


<div class="row">
  <div class="col-md-12">
    <div class="title">
      Postdoctoral Fellows
    </div>
  </div>
</div>

<div class="bigspacer"></div>


{% assign people_by_lastname = site.categories.people | sort: 'title' %}
{% for people in people_by_lastname %}
    {% if people.alumni != true and people.category == 'Postdoc' %}
    {% cycle 'add rows': '<div class="row">', '', '' %}
    <div class="col-sm-4 peoplebox">
      <div class="media">
          <a class="pull-left" href="{{ people.url }}">
            <img width=160 class="media-object" src="{{ people.image }}">
          </a>
        <br>
        <div class="media-body">
            <div class="bighead media-heading-people"><a href="{{ people.url }}" class="off">{{ people.title }}</a></div>
            <!-- <p class="smallhead">{{ people.position }}</p> -->
            <p class="smallhead">{{ people.position2 }}</p>
            {% if people.joined %}
              <p class="note">Joined {{ people.joined }}</p>
            {% endif %}
          </div>
      </div>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
    {% endif %}
{% endfor %}


<div class="row">
  <div class="col-md-12">
    <div class="title">
      Graduate Students
    </div>
  </div>
</div>

<div class="bigspacer"></div>
<div>

{% assign people_by_lastname = site.categories.people | sort: 'title' %}
{% for people in people_by_lastname %}
    {% if people.alumni != true and people.category == 'Student' %}
    {% cycle 'add rows': '<div class="row">', '', '' %}
    <div class="col-sm-4 peoplebox">
      <div class="media">
          <a class="pull-left" href="{{ people.url }}">
            <img width=160 class="media-object" src="{{ people.image }}">
          </a>
        <br>
        <div class="media-body">
            <div class="bighead media-heading-people"><a href="{{ people.url }}" class="off">{{ people.title }}</a></div>
            <p class="smallhead">{{ people.position }}</p>
            <p class="note">{{ people.position2 }}</p>
            {% if people.joined %}
              <p class="note">Joined {{ people.joined }}</p>
            {% endif %}
          </div>
      </div>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
    {% endif %}
{% endfor %}
</div>

<div class="row">
  <div class="col-md-12">
    <div class="title">
      Visitors/Interns
    </div>
  </div>
</div>

<div class="bigspacer"></div>

{% assign people_by_lastname = site.categories.people | sort: 'title' %}
{% for people in people_by_lastname %}
    {% if people.alumni != true and people.category == 'Visitor' %}
    {% cycle 'add rows': '<div class="row">', '', '' %}
    <div class="col-sm-4 peoplebox">
      <div class="media">
          <a class="pull-left" href="{{ people.url }}">
            <img width=160 class="media-object" src="{{ people.image }}">
          </a>
        <br>
        <div class="media-body">
            <div class="bighead media-heading-people"><a href="{{ people.url }}" class="off">{{ people.title }}</a></div>
            <p class="smallhead">{{ people.position }}</p>
            <p class="note">{{ people.position2 }}</p>
            {% if people.joined %}
              <p class="note">Joined {{ people.joined }}</p>
            {% endif %}
          </div>
      </div>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
    {% endif %}
{% endfor %}




<!-- ALUMNI -->



<div class="row">
	<div class="col-md-12">
		<div class="title">
			Past members
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<!-- Other past members -->
<div>
{% assign people_by_lastname = site.categories.people | sort: 'title' %}
{% for people in site.categories.people reversed %}
	{% if people.alumni == true and people.category != 'RotationStudent' %}
    {% cycle 'add rows 3': '<div class="row">', '', '' %}
		<div class="col-sm-4 peoplebox">
			<div class="media">
  				<!--
  				<a class="pull-left" href="{{ people.url }}">
    				<img width=160 class="media-object" src="{{ people.image }}">
  				</a>
  				-->
 			 	<div class="media-body">
    				<div class="head media-heading"><a href="{{ people.url }}" class="off">{{ people.title }}</a></div>
    				<p class="smallhead">{{ people.position }}</p>
            {% if people.left %}
              <p class="note">{{ people.joined }} - {{ people.left }}</p>
            {% endif %}
            {% if people.newposition %}
              <p class="note">Current Position: {{ people.newposition }}</p>
            {% endif %}
  			</div>
			</div>
			<div class="bigspacer"></div>
    </div>
    {% cycle 'close rows 3': '', '', '</div>' %}
    {% endif %}
{% endfor %}
</div>

<!-- Rotation Students -->
<div class="row">
  <div class="col-md-12">
  </div>
</div>

<div class="bigspacer"></div>

{% for people in site.categories.people %}
  {% if people.alumni == true and people.category == 'RotationStudent'%}
    {% cycle 'add rows 2': '<div class="row">', '', '' %}
    <div class="col-sm-4 peoplebox">
      <div class="media">
          <!--
          <a class="pull-left" href="{{ people.url }}">
            <img width=160 class="media-object" src="{{ people.image }}">
          </a>
          -->
        <div class="media-body">
            <div class="head media-heading"><a href="{{ people.url }}" class="off">{{ people.title }}</a></div>
            <p class="note">{{ people.position }}</p>
            {% if people.joined %}
              <p class="note">{{ people.joined }}
            {% endif %}
            {% if people.left %}
              - {{ people.left }}
            {% endif %}
            </p>
            {% if people.newposition %}
              <p class="note">Current Position: {{ people.newposition }}</p>
            {% endif %}
        </div>
      </div>
      <div class="bigspacer"></div>
    </div>
    {% cycle 'close rows 2': '', '', '</div>' %}
  {% endif %}
{% endfor %}

