---
layout: default
title: Ha Lab - Papers
categories: 
 - papers
years: 
 - 2012
 - 2013
 - 2014
 - 2015
 - 2016
 - 2017
 - 2018
 - 2019
---

<div class="bighead">
	Selected Publications
</div>
For a full list of publications, see Gavin Ha's profile on <a href="https://scholar.google.com/citations?user=dP_fqIgAAAAJ" target="_blank">Google Scholar</a>.
<div class="hugespacer"></div>


{% for year in page.years reversed %}
	{% assign rows = year %}
	<div class="bighead">
		{{ year }}
	</div>
	<div class="spacer"></div>
	{% for paper in site.categories.papers %}
		<!-- {% cycle rows: '<div class="row">', '', '' %} -->
		<div class="row">
		{% if paper.year == year %}		
		
			{% if paper.featured == true %}				
				<div class="col-md-12 paperbox">
					<div class="media">
						<a class="pull-left" href="{{ paper.url }}">
							<img width=100 class="media-object" src="{{ paper.image }}">
						</a>
						<div class="media-body">
							<div class="smallhead media-heading">
								<a href="{{ paper.url }}" class="off"><u>{{ paper.title }}</u></a>
							</div>
							<p class="note">
								{{ paper.authors }}<br>
								<em>{{ paper.journal }}</em>
								<strong>{{ paper.vol }}</strong>,
								{{ paper.page }}
								({{ paper.year }})				
							</p>
						</div>
					</div>
					<div class="bigspacer"></div>
					<div class="spacer"></div>
				</div>
			{% endif %}
			{% if paper.featured != true %}
				<div class="col-md-12 paperbox">
					<div class="smallhead media-heading">
						<a href="{{ paper.url }}" class="off">{{ paper.title }}</a>
					</div>
					<p class="note">
						{{ paper.authors }}<br>
						<em>{{ paper.journal }}</em>
						<strong>{{ paper.vol }}</strong>,
						{{ paper.page }}
						({{ paper.year }})				
					</p>
				</div>
				<div class="bigspacer"></div>
				<div class="spacer"></div>
			{% endif %}
		{% endif %}
		</div>

		<!-- {% cycle rows: '', '', '</div>' %} -->
	{% endfor %}
	<div class="bigspacer"></div>
	<div class="spacer"></div>
{% endfor %}
