---
layout: default
---

<div class="hugespacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="title">
			{{ page.title }}
		</div>	
	</div>
</div>	

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">	
		<div class="post">
			{% if page.location %}
            <div class="head media-heading">{{ page.shortdesc }} @ {{ page.location }}</div>
			{% endif %}
			{% if page.month %}
            <div class="smallhead">{{ page.month }} {{ page.day }}, {{ page.year }}</div>
			{% endif %}
            <p>
				{% if page.longdesc %}
                <div class="smallhead">{{ page.longdesc }}</div>
				{% endif %}
            </p>
			{{ content }}
		</div>	
	</div>			
	<div class="col-md-2"></div>
</div>	




